<StackLayout class="page-container">
  <GridLayout columns="auto, auto" verticalAlignment="top">
    <Label text="" col="0" class="step-bar"></Label>
    <Label text="" col="1" class="step-bar bar-right"></Label>
  </GridLayout>
  <Label text="쏘카와 함께" 
    class="banner-title" horizontalAlignment="left"
    textWrap="true"></Label>
  <Label text="카셰어링을"
    class="banner-title" horizontalAlignment="left"
    textWrap="true"></Label>
  <Label text="시작하세요"
    class="banner-title" horizontalAlignment="left"
    textWrap="true"></Label>
  <Label text="쏘카는 만 21세 이상부터 이용 가능합니다."
    class="banner-desc" marginTop="30" horizontalAlignment="left"
    textWrap="true"></Label>
  <Label text="운전면허 취득 1년 이상부터 이용 가능합니다."
    class="banner-desc" horizontalAlignment="left"
    textWrap="true"></Label>
  <Label text="결제카드와 운전면허증을 준비해주세요."
    class="banner-desc" horizontalAlignment="left"
    textWrap="true"></Label>
  <GridLayout 
    horizontalAlignment="right"
    marginBottom="200">
    <Image src="~/assets/images/join_triangle.png"></Image>
  </GridLayout>
</StackLayout>
<GridLayout top="100">
  <Button text="가입하기"
  class="btn-go-join" verticalAlignment="bottom"
  horizontalAlignment="center"
  nsRouterLink="agreement"></Button>
</GridLayout>