.page-container{
  background-color: #f6f6f6;
  padding: 10;
}

.form-item{
  margin-top: 15;

  TextField {
    border-width: 1;
    border-color: #e6e6e6;
    width: 100%;
    padding: 12;
    background-color: #fff;

    &.ng-touched.ng-invalid {
      border-color: #f11;
    }
  }
}

.btn-submit { 
  width: 100%;
  background-color: #0BB8FF;
  color: #fff;
  margin: 0;
  padding: 0;
}